.div-for-desscription{
    overflow: hidden;
    text-overflow: ellipsis;
}
.commentBox{
    position: absolute;
    margin: 5px;
    background-color: aqua;
}
.likeNum{
    color: black;
    font-size: 10px;
    padding: 5px;
}
/* .commentBox{
    position: absolute;
    margin: 5px;
    background-color: aqua;
}
.likeNum{
    color: black;
    font-size: 10px;
    padding: 5px;
} */
