.postInfo {



    /* width: 70vw;
    height: 45vw; */
    border: 1px solid #efefef;

    height: 48vw;
    overflow-y: scroll;
    padding: 2vw;
    display: flex;
    background-color: #efefef;


}

.topPostBar {
    display: flex;
    flex-direction: column;

}

.div-for-desscription {
    margin-top: 40px;
    border-top: 2px solid black;
    word-wrap: break-word;
    border: 1px solid #efefef;
    /* padding: 20px; */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    word-break: break-word;
    min-height: 50px;
    max-width: 40vw;
    border-top: 1px solid #ADB7E6;
    ;

    /* border: 1px solid black; */


}

.div-buttom {

    border-bottom: 1px solid #ADB7E6;


    /* margin-left: 0px;
    margin-right: 0px;
    margin-top: -20px;
    margin-bottom: 20px; */
}

/* .div-for-desscription {
    word-wrap: break-word;
    border: 1px solid #efefef;
    min-height: 50px;
    padding: 10px;

} */

.topPostBar {

    width: max-content
}

.username {
    font-weight: bold;
    color: gray;
}

.btn-div2 {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.comment-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #743a71; */
    border-bottom: 1px solid rgb(204, 170, 209);
    margin: 10px;
    padding: 10px;
    word-wrap: break-word;
}

.each-slide {
    display: flex;
    justify-content: center;
}



.slect-coment {
    display: flex;
    justify-content: flex-end;
    background-color: #743a71;
}

.form-add-photo {
    display: flex;
    flex-direction: column;
    margin-bottom: -20px;
}

.div-for-iput-add-photo {
    display: flex;
    margin-top: 10px;
}



.div-add-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-post-info {
    margin-right: 10px;
}

.add-photo {
    padding: 5px 15px;
}

.success-msg {
    color: green;
}

.comment-box {
    word-wrap: break-word;
    word-break: break-word;
    align-items: left;
    justify-content: start;

    padding: 10px;
}



.comments-box {
    -ms-overflow-style: none;
}

.right-column {
    margin-top: 60px;
    max-height: 800px;
    overflow-y: scroll;
    margin-left: 35px;

}

.photo-box {
    max-width: 40vw;
    max-height: 25vw;

}

.top-bar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-top-info {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.coment-edit-delete {

    display: flex;
    flex-direction: row;
    margin-right: 5px;
}

.video-box {
    height: 600px;
    width: 500px;
}

.comment-div {

    align-items: flex-start;
}

.top-comments {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 25vw;
}
