.postInfo {



    width: 70vw;
    height: 45vw;
    border: 1px solid #efefef;
    justify-content: center;
    overflow-y: scroll;
}

.topPostBar {
    display: flex;
    flex-direction: column;

}

.div-for-desscription {
    border: 1px solid #efefef;
    min-height: 50px;
    padding: 10px;
}

.topPostBar {

    width: max-content
}

.username {
    font-weight: bold;
}

.btn-div2 {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.comment-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.each-slide {
    display: flex;
    justify-content: center;
}

.form-add-photo {
    display: flex;
}
