body {
    display: flex;
    justify-content: center;
    align-items: center;
 





}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

#navForHome {
    text-decoration: none;
    color: rgb(190, 86, 86);
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
}

.rightNav {
    display: flex;

    justify-content: space-between;
    align-self: flex-start;

}

.loginUserNav {
    display: flex;
    width: 100px;
    justify-content: space-around;

}

a {
    text-decoration: none;
    color: black;
}

#navBar {
    width: 80vw;
    padding: 15px;
    border: 1px solid #efefef;
}

.errors {
    margin: 10px;
    color: red;
}

.hiden {
    display: none;
    margin-left: -5px;
    font-size: 1em;
}

.haverOver:hover+.hiden {
    display: block;
    text-align: right;

}



.haverOver {
    width: 50px;
}

.nav-bar {
    padding: 10px;
}
