/* TODO Add site wide styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}
