.post-div {
    width: 670px;
    height: 960px;
    margin: 10px;
    padding: 10px;
    position: relative;
    overflow-y: scroll;
    box-shadow: rgba(124, 68, 220, 0.733) 0px 5px 15px;
    /* margin: 0px 500px 0px 600px; */

}
.more-then-one{

    width: 670px;
    height: 1060px;
    margin: 10px;
    padding: 10px;
    position: relative;
    overflow-y: scroll;
    box-shadow: rgba(124, 68, 220, 0.733) 0px 5px 15px;
}
.img-podt-dspl {

    display: flex;
    justify-content: center;
    margin: 15px;

}

#imgCont {
    position: relative;
}

.imgFade {
    position: relative;
}

.imgContainer {
    position: relative;
}

#commentInput {
    border: transparent;
    margin-left: 10px;
}

#PostComent {
    color: rgba(126, 172, 227, 0.607);

}

#commentBox {
    display: flex;
    position: absolute;
    bottom: 5px;
    width: 528px;
    padding: 10px;
    border: 1px solid #efefef;
}

.commentSection {

    padding-left: 15px
}

#usernameComment,
#Username {
    font-weight: bold;
    padding-left: 10px
}

.intoFead {
    margin: 10px;
    padding: 10px
}

.AllPosts {
    margin-top: 40px;
    /* margin-left: 15vw; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.rnb {

    background-image: linear-gradient(90deg, #9f7aac 0%, #99899f 0%, #ba97cb 49%, #669fa9 80%, #00C0FF 100%);
    border-radius: 5px;
    border: 1px solid rgb(133, 164, 195);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
}

.rnb:after {
    content: attr(alt);
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rnb:hover {
    box-shadow: rgb(142, 197, 228) 0px 5px 15px;
    animation: slidebg 9s linear infinite;

}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.description {
    padding: 20px;
    box-shadow: rgb(142, 197, 228) 0px 5px 15px;
}
.singele-photo{
    margin-bottom: 50px;
}
