.post-div {
    width: 670px;
    height: 980px;
    margin: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* margin: 0px 500px 0px 600px; */

}

.img-podt-dspl {

    display: flex;
    justify-content: center;
    margin: 15px;

}

#imgCont {
    position: relative;
}

.imgFade {
    position: relative;
}

.imgContainer {
    position: relative;
}

#commentInput {
    border: transparent;
    margin-left: 10px;
}

#PostComent {
    color: rgba(126, 172, 227, 0.607);

}

#commentBox {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 528px;
    padding: 10px;
    border: 1px solid #efefef;
}

.commentSection {

    padding-left: 15px
}

#usernameComment,
#Username {
    font-weight: bold;
    padding-left: 10px
}

.intoFead {
    margin: 10px;
    padding: 10px
}

.AllPosts {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
