.edit-form {
    height: 14vw;
    width: 20vw;
    padding: 10px;
    display: flex;
    flex-direction: column;

}


.submit {
    margin-bottom: 5px;
}

.edit-post-lable {
    margin-right: 10px;
    cursor: pointer;
}
